<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <% if(process.env.NODE_ENV === 'development') { %>
    <!-- DEVUSEONLY -->
    <link href="styles/dev.css" rel="stylesheet">
    <!-- DEVUSEONLY -->
    <% } %>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome 4.1.0 -->
    <link href="styles/font-awesome.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Michroma|Oswald' rel='stylesheet' type='text/css'>

    <!-- MAIN -->
    <link href="styles/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div id="main-header">
      <div class="container">
        <div class="logo">
          <a href="/">
            <i class="fa fa-lightbulb-o"></i> <span class="ida">IDA</span><span class="spark">Spark</span>
          </a>
        </div>
        <div class="navigation">
          <ul>
            <li><a href="/top">Top</a></li>
            <li><a href="/new">New</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- cat-nav -->
    <div id="categories-navigation">
      <div class="container">
        <ul>
          <li><a href="/for/home">Home</a>
            <ul>
              <li><a href="/for/home/kitchen">Kitchen</a></li>
              <li><a href="/for/home/bathroom">Bathroom</a></li>
              <li><a href="/for/home/Bedroom">Bedroom</a></li>
            </ul>
          </li>
          <li><a href="/for/tech">Tech</a>
            <ul>
              <li><a href="/for/tech/computers">Computers</a></li>
              <li><a href="/for/tech/developing">Developing</a></li>
              <li><a href="/for/tech/tools">Tools</a></li>
              <li><a href="/for/tech/gadgets">Gadgets</a></li>
            </ul>
          </li>
          <li><a href="/for/food">Food</a></li>
          <li><a href="/for/business">Business</a></li>
          <li><a href="/for/office">Office</a></li>
          <li><a href="/for/games">Games</a></li>
          <li><a href="/for/more">More</a></li>
        </ul>
      </div>
    </div>

    <div class="wrapper">
      <div class="container">
        <%- body %>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/deps/headroom.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>