#main-header {
	position: fixed;
	top: 0; left: 0; right: 0;
	background-color: @main-header-bg;
	z-index: @z-top;
	border-bottom: @main-header-border solid @main-header-border-color;

	.logo, .navigation, .search-bar {
		float: left;
	}

	.logo {
		a {
			padding: @header-logo-ver 0 @header-logo-ver @header-logo-left;
			display: inline-block;
			&:hover {
				text-decoration: none;
			}
			.fa, .ida, .spark {
				position: relative;
			}
			.fa {
				font-size: @logo-icon;
				color: @gray-lightest;
				top: -3px;
				z-index: @z-top + 1;
			}
			.ida {
				font-family: @ida;
				font-size: @logo-ida;
				color: @blue-highlight;
				z-index: @z-top + 2;
				margin-left: -4px;
			}
			.spark {
				font-size: @logo-spark;
				font-family: @spark;
				color: @gray-lightest;
				z-index: @z-top + 3;
				margin-left: 1px;
				text-transform: uppercase;
			}
		}
	}

	.navigation {
		margin-left: 20px;
		height: 100%;
		ul {
			height: 100%;
			margin: 0; padding: 0;
			list-style: none;
			li {
				margin: 0;
				height: 100%;
				display: inline-block;
				a {
					display: block;
					padding: @nav-a-ver 0;
					width: 75px;
					text-align: center;
					font-size: @nav-font-size;
					font-family: @spark;
					color: @gray-lightest;
					text-transform: uppercase;
					font-weight: bold;
					.transition(background-color 300ms);
					&:hover {
						background-color: @main-header-bg-hover;
						text-decoration: none;
					}
				}
			}
		}
	}

	.search-bar {
		width: @search-bar-width;
		position: relative;
		top: @search-box-top;
		left: @search-box-left;
	}

	.member {
		float: right;
		position: relative;
		top: @search-box-top;
		a {
			font-size: @member-font-size;
			color: @gray-lightest;
			&:hover {
				text-decoration: none;
				color: darken(@gray-lightest, 5%);
			}
		}
	}
}

// Headroom CSS
.headroom {
	.transition(all 200ms linear);
}

.headroom--pinned {
	.translate(0, 0%);
	opacity: 1;
}

.headroom--unpinned {
	opacity: 0;
	.translate(0, -100%);
}

#categories-navigation {
	z-index: @z-top - 1;
	position: fixed;
	top: (@nav-a-ver * 2) + @bootstrap-lineheight + @main-header-border;
	left: 0; right: 0;
	background-color: darken(@gray-lightest, 10%);
	.container {
		line-height: @cat-lineheight;
		ul {
			line-height: @cat-lineheight;
			position: relative;
			display: inline-table;
			&:after {
				content: "";
				clear: both;
				display: block;
			}
			ul { // Sub Menu
				border-left: @cat-border solid @blue-highlight;
				display: none;
				padding: 0; margin: 0;
				position: absolute;
				top: 100%;
				li {
					display: list-item;
					float: none;
					position: relative;
					padding: 0;
					a {
						color: @cat-menu-color;
						text-align: left;
						background-color: @cat-menu-bg-color;
						.box-sizing(content-box);
						padding: @cat-a-ver 0 @cat-a-ver @cat-a-left;
						width: @cat-a-width;
						&:hover {
							background-color: @cat-menu-bg-hover;
							color: @cat-menu-color;
						}
					}
				}
			}
			margin: 0; padding: 0;
			list-style: none;
			li {
				line-height: @cat-lineheight;
				&:hover > ul {
					display: block;
				}
				float: left;
				margin: 0;
				padding: @cat-li-ver 15px;
				display: inline-block;
				a {
					line-height: @cat-lineheight;
					display: block;
					text-align: center;
					font-family: @spark;
					text-transform: uppercase;
					font-size: @cat-font-size;
					color: @gray-darkest;
					&:hover {
						color: lighten(@gray-darkest, 10%);
						text-decoration: none;
					}
				}
			}
		}
	}
}
