// Colors

@gray-lightest: 		#F2FAF0;
@blue-highlight:		#277E86;
@gray-darkest: 			#040B04;
@green-dark: 				#57C766;
@green-light: 			#9AD685;
@green-lightest: 		#CAEABF;

// Stacking Order [z-index]

@z-base: 						1;
@z-top: 						100;

// Font-Sizes

@logo-icon: 				25px;
@logo-ida: 					24px;
@logo-spark: 				13px;

// Fonts

@ida: 							'Oswald', sans-serif;
@spark: 						'Michroma', sans-serif;

// Padding/Margin

@gap: 							10px;
@wrapper-top-gap: 	30px;
@row-margin: 				15px;

@header-logo-ver: 	5px;
@header-logo-left:  15px;

//## Panel Padding/Margin
@panel-padding: 		20px;

// Border Sizes

@user-info-border: 	2px;

// Sizes

@menu-width: 				80px;

// Breakpoints

@small-devices: 		480px;